
{% comment %}

MailChimp is the go-to newsletter service for Shopify.
Use the link below to find your MailChimp "form action"
and insert it in your site settings.

If the form action URL is not set in the theme settings, 
it will fallback to a customer form so you can still capture the email.

MailChimp newsletter integration and requirement:
- http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}
<form action="//bloggersfavorites.us14.list-manage.com/subscribe/post?u=26ec4af1fe268497d181d3885&amp;id=5902af91de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="small--hide validate" novalidate>
  <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="First name">
  <input type="text" value="" name="LNAME" class="email" id="mce-LNAME" placeholder="Last Name">
   <div class="sort-by">
 <select name="MMERGE3" class="" id="mce-MMERGE3">
	<option value=""><ly-as-2735959>Select Country..</ly-as-2735959></option>
	<option value="United States of America"><ly-as-2735960>United States of America</ly-as-2735960></option>
<option value="Aaland Islands"><ly-as-2735961>Aaland Islands</ly-as-2735961></option>
<option value="Afghanistan"><ly-as-2623238>Afghanistan</ly-as-2623238></option>
<option value="Albania"><ly-as-2623239>Albania</ly-as-2623239></option>
<option value="Algeria"><ly-as-2735962>Algeria</ly-as-2735962></option>
<option value="American Samoa"><ly-as-2735963>American Samoa</ly-as-2735963></option>
<option value="Andorra"><ly-as-2735964>Andorra</ly-as-2735964></option>
<option value="Angola"><ly-as-2735965>Angola</ly-as-2735965></option>
<option value="Anguilla"><ly-as-2735966>Anguilla</ly-as-2735966></option>
<option value="Antarctica"><ly-as-2735967>Antarctica</ly-as-2735967></option>
<option value="Antigua And Barbuda"><ly-as-2735968>Antigua And Barbuda</ly-as-2735968></option>
<option value="Argentina"><ly-as-2735969>Argentina</ly-as-2735969></option>
<option value="Armenia"><ly-as-2735970>Armenia</ly-as-2735970></option>
<option value="Aruba"><ly-as-2735971>Aruba</ly-as-2735971></option>
<option value="Australia"><ly-as-2735972>Australia</ly-as-2735972></option>
<option value="Austria"><ly-as-2735973>Austria</ly-as-2735973></option>
<option value="Azerbaijan"><ly-as-2735974>Azerbaijan</ly-as-2735974></option>
<option value="Bahamas"><ly-as-2735975>Bahamas</ly-as-2735975></option>
<option value="Bahrain"><ly-as-2735976>Bahrain</ly-as-2735976></option>
<option value="Bangladesh"><ly-as-2735977>Bangladesh</ly-as-2735977></option>
<option value="Barbados"><ly-as-2735978>Barbados</ly-as-2735978></option>
<option value="Belarus"><ly-as-2735979>Belarus</ly-as-2735979></option>
<option value="Belgium"><ly-as-2735980>Belgium</ly-as-2735980></option>
<option value="Belize"><ly-as-2735981>Belize</ly-as-2735981></option>
<option value="Benin"><ly-as-2735982>Benin</ly-as-2735982></option>
<option value="Bermuda"><ly-as-2735983>Bermuda</ly-as-2735983></option>
<option value="Bhutan"><ly-as-2735984>Bhutan</ly-as-2735984></option>
<option value="Bolivia"><ly-as-2735985>Bolivia</ly-as-2735985></option>
<option value="Bosnia and Herzegovina"><ly-as-2735986>Bosnia and Herzegovina</ly-as-2735986></option>
<option value="Botswana"><ly-as-2735987>Botswana</ly-as-2735987></option>
<option value="Bouvet Island"><ly-as-2735988>Bouvet Island</ly-as-2735988></option>
<option value="Brazil"><ly-as-2735989>Brazil</ly-as-2735989></option>
<option value="British Indian Ocean Territory"><ly-as-2735990>British Indian Ocean Territory</ly-as-2735990></option>
<option value="Brunei Darussalam"><ly-as-2735991>Brunei Darussalam</ly-as-2735991></option>
<option value="Bulgaria"><ly-as-2735992>Bulgaria</ly-as-2735992></option>
<option value="Burkina Faso"><ly-as-2623240>Burkina Faso</ly-as-2623240></option>
<option value="Burundi"><ly-as-2735993>Burundi</ly-as-2735993></option>
<option value="Cambodia"><ly-as-2735994>Cambodia</ly-as-2735994></option>
<option value="Cameroon"><ly-as-2735995>Cameroon</ly-as-2735995></option>
<option value="Canada"><ly-as-2735996>Canada</ly-as-2735996></option>
<option value="Cape Verde"><ly-as-2735997>Cape Verde</ly-as-2735997></option>
<option value="Cayman Islands"><ly-as-2735998>Cayman Islands</ly-as-2735998></option>
<option value="Central African Republic"><ly-as-2735999>Central African Republic</ly-as-2735999></option>
<option value="Chad"><ly-as-2736000>Chad</ly-as-2736000></option>
<option value="Chile"><ly-as-2736001>Chile</ly-as-2736001></option>
<option value="China"><ly-as-2736002>China</ly-as-2736002></option>
<option value="Christmas Island"><ly-as-2736003>Christmas Island</ly-as-2736003></option>
<option value="Cocos (Keeling) Islands"><ly-as-2736004>Cocos (Keeling) Islands</ly-as-2736004></option>
<option value="Colombia"><ly-as-2736005>Colombia</ly-as-2736005></option>
<option value="Comoros"><ly-as-2736006>Comoros</ly-as-2736006></option>
<option value="Congo"><ly-as-2736007>Congo</ly-as-2736007></option>
<option value="Cook Islands"><ly-as-2736008>Cook Islands</ly-as-2736008></option>
<option value="Costa Rica"><ly-as-2736009>Costa Rica</ly-as-2736009></option>
<option value="Cote D'Ivoire"><ly-as-2736010>Cote D'Ivoire</ly-as-2736010></option>
<option value="Croatia"><ly-as-2736011>Croatia</ly-as-2736011></option>
<option value="Cuba"><ly-as-2736012>Cuba</ly-as-2736012></option>
<option value="Curacao"><ly-as-2736013>Curacao</ly-as-2736013></option>
<option value="Cyprus"><ly-as-2736014>Cyprus</ly-as-2736014></option>
<option value="Czech Republic"><ly-as-2736015>Czech Republic</ly-as-2736015></option>
<option value="Democratic Republic of the Congo"><ly-as-2736016>Democratic Republic of the Congo</ly-as-2736016></option>
<option value="Denmark"><ly-as-2736017>Denmark</ly-as-2736017></option>
<option value="Djibouti"><ly-as-2736018>Djibouti</ly-as-2736018></option>
<option value="Dominica"><ly-as-2736019>Dominica</ly-as-2736019></option>
<option value="Dominican Republic"><ly-as-2736020>Dominican Republic</ly-as-2736020></option>
<option value="Ecuador"><ly-as-2736021>Ecuador</ly-as-2736021></option>
<option value="Egypt"><ly-as-2736022>Egypt</ly-as-2736022></option>
<option value="El Salvador"><ly-as-2736023>El Salvador</ly-as-2736023></option>
<option value="Equatorial Guinea"><ly-as-2736024>Equatorial Guinea</ly-as-2736024></option>
<option value="Eritrea"><ly-as-2736025>Eritrea</ly-as-2736025></option>
<option value="Estonia"><ly-as-2736026>Estonia</ly-as-2736026></option>
<option value="Ethiopia"><ly-as-2736027>Ethiopia</ly-as-2736027></option>
<option value="Falkland Islands"><ly-as-2736028>Falkland Islands</ly-as-2736028></option>
<option value="Faroe Islands"><ly-as-2736029>Faroe Islands</ly-as-2736029></option>
<option value="Fiji"><ly-as-2736030>Fiji</ly-as-2736030></option>
<option value="Finland"><ly-as-2736031>Finland</ly-as-2736031></option>
<option value="France"><ly-as-2736032>France</ly-as-2736032></option>
<option value="French Guiana"><ly-as-2736033>French Guiana</ly-as-2736033></option>
<option value="French Polynesia"><ly-as-2736034>French Polynesia</ly-as-2736034></option>
<option value="French Southern Territories"><ly-as-2736035>French Southern Territories</ly-as-2736035></option>
<option value="Gabon"><ly-as-2736036>Gabon</ly-as-2736036></option>
<option value="Gambia"><ly-as-2736037>Gambia</ly-as-2736037></option>
<option value="Georgia"><ly-as-2736038>Georgia</ly-as-2736038></option>
<option value="Germany"><ly-as-2736039>Germany</ly-as-2736039></option>
<option value="Ghana"><ly-as-2736040>Ghana</ly-as-2736040></option>
<option value="Gibraltar"><ly-as-2736041>Gibraltar</ly-as-2736041></option>
<option value="Greece"><ly-as-2736042>Greece</ly-as-2736042></option>
<option value="Greenland"><ly-as-2736043>Greenland</ly-as-2736043></option>
<option value="Grenada"><ly-as-2736044>Grenada</ly-as-2736044></option>
<option value="Guadeloupe"><ly-as-2736045>Guadeloupe</ly-as-2736045></option>
<option value="Guam"><ly-as-2736046>Guam</ly-as-2736046></option>
<option value="Guatemala"><ly-as-2736047>Guatemala</ly-as-2736047></option>
<option value="Guernsey"><ly-as-2736048>Guernsey</ly-as-2736048></option>
<option value="Guinea"><ly-as-2736049>Guinea</ly-as-2736049></option>
<option value="Guinea-Bissau"><ly-as-2736050>Guinea-Bissau</ly-as-2736050></option>
<option value="Guyana"><ly-as-2736051>Guyana</ly-as-2736051></option>
<option value="Haiti"><ly-as-2736052>Haiti</ly-as-2736052></option>
<option value="Heard and Mc Donald Islands"><ly-as-2736053>Heard and Mc Donald Islands</ly-as-2736053></option>
<option value="Honduras"><ly-as-2736054>Honduras</ly-as-2736054></option>
<option value="Hong Kong"><ly-as-2736055>Hong Kong</ly-as-2736055></option>
<option value="Hungary"><ly-as-2736056>Hungary</ly-as-2736056></option>
<option value="Iceland"><ly-as-2736057>Iceland</ly-as-2736057></option>
<option value="India"><ly-as-2623241>India</ly-as-2623241></option>
<option value="Indonesia"><ly-as-2623242>Indonesia</ly-as-2623242></option>
<option value="Iran"><ly-as-2623243>Iran</ly-as-2623243></option>
<option value="Iraq"><ly-as-2623244>Iraq</ly-as-2623244></option>
<option value="Ireland"><ly-as-2736058>Ireland</ly-as-2736058></option>
<option value="Isle of Man"><ly-as-2736059>Isle of Man</ly-as-2736059></option>
<option value="Israel"><ly-as-2736060>Israel</ly-as-2736060></option>
<option value="Italy"><ly-as-2736061>Italy</ly-as-2736061></option>
<option value="Jamaica"><ly-as-2736062>Jamaica</ly-as-2736062></option>
<option value="Japan"><ly-as-2736063>Japan</ly-as-2736063></option>
<option value="Jersey  (Channel Islands)"><ly-as-2736064>Jersey  (Channel Islands)</ly-as-2736064></option>
<option value="Jordan"><ly-as-2736065>Jordan</ly-as-2736065></option>
<option value="Kazakhstan"><ly-as-2736066>Kazakhstan</ly-as-2736066></option>
<option value="Kenya"><ly-as-2736067>Kenya</ly-as-2736067></option>
<option value="Kiribati"><ly-as-2736068>Kiribati</ly-as-2736068></option>
<option value="Kuwait"><ly-as-2736069>Kuwait</ly-as-2736069></option>
<option value="Kyrgyzstan"><ly-as-2736070>Kyrgyzstan</ly-as-2736070></option>
<option value="Lao People's Democratic Republic"><ly-as-2736071>Lao People's Democratic Republic</ly-as-2736071></option>
<option value="Latvia"><ly-as-2736072>Latvia</ly-as-2736072></option>
<option value="Lebanon"><ly-as-2736073>Lebanon</ly-as-2736073></option>
<option value="Lesotho"><ly-as-2736074>Lesotho</ly-as-2736074></option>
<option value="Liberia"><ly-as-2736075>Liberia</ly-as-2736075></option>
<option value="Libya"><ly-as-2736076>Libya</ly-as-2736076></option>
<option value="Liechtenstein"><ly-as-2736077>Liechtenstein</ly-as-2736077></option>
<option value="Lithuania"><ly-as-2736078>Lithuania</ly-as-2736078></option>
<option value="Luxembourg"><ly-as-2736079>Luxembourg</ly-as-2736079></option>
<option value="Macau"><ly-as-2736080>Macau</ly-as-2736080></option>
<option value="Macedonia"><ly-as-2736081>Macedonia</ly-as-2736081></option>
<option value="Madagascar"><ly-as-2736082>Madagascar</ly-as-2736082></option>
<option value="Malawi"><ly-as-2736083>Malawi</ly-as-2736083></option>
<option value="Malaysia"><ly-as-2736084>Malaysia</ly-as-2736084></option>
<option value="Maldives"><ly-as-2736085>Maldives</ly-as-2736085></option>
<option value="Mali"><ly-as-2736086>Mali</ly-as-2736086></option>
<option value="Malta"><ly-as-2736087>Malta</ly-as-2736087></option>
<option value="Marshall Islands"><ly-as-2736088>Marshall Islands</ly-as-2736088></option>
<option value="Martinique"><ly-as-2736089>Martinique</ly-as-2736089></option>
<option value="Mauritania"><ly-as-2736090>Mauritania</ly-as-2736090></option>
<option value="Mauritius"><ly-as-2736091>Mauritius</ly-as-2736091></option>
<option value="Mayotte"><ly-as-2736092>Mayotte</ly-as-2736092></option>
<option value="Mexico"><ly-as-2736093>Mexico</ly-as-2736093></option>
<option value="Micronesia, Federated States of"><ly-as-2736094>Micronesia, Federated States of</ly-as-2736094></option>
<option value="Moldova, Republic of"><ly-as-2736095>Moldova, Republic of</ly-as-2736095></option>
<option value="Monaco"><ly-as-2736096>Monaco</ly-as-2736096></option>
<option value="Mongolia"><ly-as-2736097>Mongolia</ly-as-2736097></option>
<option value="Montenegro"><ly-as-2736098>Montenegro</ly-as-2736098></option>
<option value="Montserrat"><ly-as-2736099>Montserrat</ly-as-2736099></option>
<option value="Morocco"><ly-as-2736100>Morocco</ly-as-2736100></option>
<option value="Mozambique"><ly-as-2736101>Mozambique</ly-as-2736101></option>
<option value="Myanmar"><ly-as-2736102>Myanmar</ly-as-2736102></option>
<option value="Namibia"><ly-as-2736103>Namibia</ly-as-2736103></option>
<option value="Nauru"><ly-as-2736104>Nauru</ly-as-2736104></option>
<option value="Nepal"><ly-as-2736105>Nepal</ly-as-2736105></option>
<option value="Netherlands"><ly-as-2736106>Netherlands</ly-as-2736106></option>
<option value="Netherlands Antilles"><ly-as-2736107>Netherlands Antilles</ly-as-2736107></option>
<option value="New Caledonia"><ly-as-2736108>New Caledonia</ly-as-2736108></option>
<option value="New Zealand"><ly-as-2736109>New Zealand</ly-as-2736109></option>
<option value="Nicaragua"><ly-as-2736110>Nicaragua</ly-as-2736110></option>
<option value="Niger"><ly-as-2736111>Niger</ly-as-2736111></option>
<option value="Nigeria"><ly-as-2736112>Nigeria</ly-as-2736112></option>
<option value="Niue"><ly-as-2736113>Niue</ly-as-2736113></option>
<option value="Norfolk Island"><ly-as-2736114>Norfolk Island</ly-as-2736114></option>
<option value="North Korea"><ly-as-2736115>North Korea</ly-as-2736115></option>
<option value="Northern Mariana Islands"><ly-as-2736116>Northern Mariana Islands</ly-as-2736116></option>
<option value="Norway"><ly-as-2736117>Norway</ly-as-2736117></option>
<option value="Oman"><ly-as-2736118>Oman</ly-as-2736118></option>
<option value="Pakistan"><ly-as-2736119>Pakistan</ly-as-2736119></option>
<option value="Palau"><ly-as-2736120>Palau</ly-as-2736120></option>
<option value="Palestine"><ly-as-2736121>Palestine</ly-as-2736121></option>
<option value="Panama"><ly-as-2736122>Panama</ly-as-2736122></option>
<option value="Papua New Guinea"><ly-as-2736123>Papua New Guinea</ly-as-2736123></option>
<option value="Paraguay"><ly-as-2736124>Paraguay</ly-as-2736124></option>
<option value="Peru"><ly-as-2736125>Peru</ly-as-2736125></option>
<option value="Philippines"><ly-as-2736126>Philippines</ly-as-2736126></option>
<option value="Pitcairn"><ly-as-2736127>Pitcairn</ly-as-2736127></option>
<option value="Poland"><ly-as-2736128>Poland</ly-as-2736128></option>
<option value="Portugal"><ly-as-2736129>Portugal</ly-as-2736129></option>
<option value="Puerto Rico"><ly-as-2736130>Puerto Rico</ly-as-2736130></option>
<option value="Qatar"><ly-as-2736131>Qatar</ly-as-2736131></option>
<option value="Republic of Kosovo"><ly-as-2736132>Republic of Kosovo</ly-as-2736132></option>
<option value="Reunion"><ly-as-2736133>Reunion</ly-as-2736133></option>
<option value="Romania"><ly-as-2736134>Romania</ly-as-2736134></option>
<option value="Russia"><ly-as-2736135>Russia</ly-as-2736135></option>
<option value="Rwanda"><ly-as-2736136>Rwanda</ly-as-2736136></option>
<option value="Saint Kitts and Nevis"><ly-as-2736137>Saint Kitts and Nevis</ly-as-2736137></option>
<option value="Saint Lucia"><ly-as-2736138>Saint Lucia</ly-as-2736138></option>
<option value="Saint Vincent and the Grenadines"><ly-as-2736139>Saint Vincent and the Grenadines</ly-as-2736139></option>
<option value="Samoa (Independent)"><ly-as-2736140>Samoa (Independent)</ly-as-2736140></option>
<option value="San Marino"><ly-as-2736141>San Marino</ly-as-2736141></option>
<option value="Sao Tome and Principe"><ly-as-2736142>Sao Tome and Principe</ly-as-2736142></option>
<option value="Saudi Arabia"><ly-as-2736143>Saudi Arabia</ly-as-2736143></option>
<option value="Senegal"><ly-as-2736144>Senegal</ly-as-2736144></option>
<option value="Serbia"><ly-as-2736145>Serbia</ly-as-2736145></option>
<option value="Seychelles"><ly-as-2736146>Seychelles</ly-as-2736146></option>
<option value="Sierra Leone"><ly-as-2736147>Sierra Leone</ly-as-2736147></option>
<option value="Singapore"><ly-as-2736148>Singapore</ly-as-2736148></option>
<option value="Sint Maarten"><ly-as-2736149>Sint Maarten</ly-as-2736149></option>
<option value="Slovakia"><ly-as-2736150>Slovakia</ly-as-2736150></option>
<option value="Slovenia"><ly-as-2736151>Slovenia</ly-as-2736151></option>
<option value="Solomon Islands"><ly-as-2736152>Solomon Islands</ly-as-2736152></option>
<option value="Somalia"><ly-as-2736153>Somalia</ly-as-2736153></option>
<option value="South Africa"><ly-as-2736154>South Africa</ly-as-2736154></option>
<option value="South Georgia and the South Sandwich Islands"><ly-as-2736155>South Georgia and the South Sandwich Islands</ly-as-2736155></option>
<option value="South Korea"><ly-as-2736156>South Korea</ly-as-2736156></option>
<option value="South Sudan"><ly-as-2736157>South Sudan</ly-as-2736157></option>
<option value="Spain"><ly-as-2736158>Spain</ly-as-2736158></option>
<option value="Sri Lanka"><ly-as-2736159>Sri Lanka</ly-as-2736159></option>
<option value="St. Helena"><ly-as-2736160>St. Helena</ly-as-2736160></option>
<option value="St. Pierre and Miquelon"><ly-as-2736161>St. Pierre and Miquelon</ly-as-2736161></option>
<option value="Sudan"><ly-as-2736162>Sudan</ly-as-2736162></option>
<option value="Suriname"><ly-as-2736163>Suriname</ly-as-2736163></option>
<option value="Svalbard and Jan Mayen Islands"><ly-as-2736164>Svalbard and Jan Mayen Islands</ly-as-2736164></option>
<option value="Swaziland"><ly-as-2736165>Swaziland</ly-as-2736165></option>
<option value="Sweden"><ly-as-2736166>Sweden</ly-as-2736166></option>
<option value="Switzerland"><ly-as-2736167>Switzerland</ly-as-2736167></option>
<option value="Syria"><ly-as-2736168>Syria</ly-as-2736168></option>
<option value="Taiwan"><ly-as-2736169>Taiwan</ly-as-2736169></option>
<option value="Tajikistan"><ly-as-2736170>Tajikistan</ly-as-2736170></option>
<option value="Tanzania"><ly-as-2736171>Tanzania</ly-as-2736171></option>
<option value="Thailand"><ly-as-2736172>Thailand</ly-as-2736172></option>
<option value="Timor-Leste"><ly-as-2736173>Timor-Leste</ly-as-2736173></option>
<option value="Togo"><ly-as-2736174>Togo</ly-as-2736174></option>
<option value="Tokelau"><ly-as-2736175>Tokelau</ly-as-2736175></option>
<option value="Tonga"><ly-as-2736176>Tonga</ly-as-2736176></option>
<option value="Trinidad and Tobago"><ly-as-2736177>Trinidad and Tobago</ly-as-2736177></option>
<option value="Tunisia"><ly-as-2736178>Tunisia</ly-as-2736178></option>
<option value="Turkey"><ly-as-2736179>Turkey</ly-as-2736179></option>
<option value="Turkmenistan"><ly-as-2736180>Turkmenistan</ly-as-2736180></option>
<option value="Turks &amp; Caicos Islands">Turks &amp; Caicos Islands</option>
<option value="Turks and Caicos Islands"><ly-as-2736182>Turks and Caicos Islands</ly-as-2736182></option>
<option value="Tuvalu"><ly-as-2736183>Tuvalu</ly-as-2736183></option>
<option value="Uganda"><ly-as-2736184>Uganda</ly-as-2736184></option>
<option value="Ukraine"><ly-as-2736185>Ukraine</ly-as-2736185></option>
<option value="United Arab Emirates"><ly-as-2736186>United Arab Emirates</ly-as-2736186></option>
<option value="United Kingdom"><ly-as-2736187>United Kingdom</ly-as-2736187></option>
<option value="Uruguay"><ly-as-2736188>Uruguay</ly-as-2736188></option>
<option value="USA Minor Outlying Islands"><ly-as-2736189>USA Minor Outlying Islands</ly-as-2736189></option>
<option value="Uzbekistan"><ly-as-2736190>Uzbekistan</ly-as-2736190></option>
<option value="Vanuatu"><ly-as-2736191>Vanuatu</ly-as-2736191></option>
<option value="Vatican City State (Holy See)"><ly-as-2736192>Vatican City State (Holy See)</ly-as-2736192></option>
<option value="Venezuela"><ly-as-2736193>Venezuela</ly-as-2736193></option>
<option value="Vietnam"><ly-as-2736194>Vietnam</ly-as-2736194></option>
<option value="Virgin Islands (British)"><ly-as-2736195>Virgin Islands (British)</ly-as-2736195></option>
<option value="Virgin Islands (U.S.)"><ly-as-2736196>Virgin Islands (U.S.)</ly-as-2736196></option>
<option value="Wallis and Futuna Islands"><ly-as-2736197>Wallis and Futuna Islands</ly-as-2736197></option>
<option value="Western Sahara"><ly-as-2736198>Western Sahara</ly-as-2736198></option>
<option value="Yemen"><ly-as-2736199>Yemen</ly-as-2736199></option>
<option value="Zambia"><ly-as-2736200>Zambia</ly-as-2736200></option>
<option value="Zimbabwe"><ly-as-2736201>Zimbabwe</ly-as-2736201></option>

	</select>
       </div>
  <input type="email" class="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder=" {{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mce-EMAIL" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
    <input type="submit" class="btn button" name="subscribe" id="mc-embedded-subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
</form>
{% comment %}
{% if settings.newsletter_form_action != blank %}
<form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="small--hide validate" novalidate>
  <input type="text" value="" name="FNAME" id="mce-FNAME" placeholder="First name">
  <input type="text" value="" name="LNAME" class="email" id="mce-LNAME" placeholder="Last Name">
   <div class="scroll_down">
 <select name="MMERGE3" class="" id="mce-MMERGE3">
	<option value="">Select Country..</option>
	<option value="United States of America">United States of America</option>
<option value="Aaland Islands">Aaland Islands</option>
<option value="Afghanistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="American Samoa">American Samoa</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Anguilla">Anguilla</option>
<option value="Antarctica">Antarctica</option>
<option value="Antigua And Barbuda">Antigua And Barbuda</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Aruba">Aruba</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Bouvet Island">Bouvet Island</option>
<option value="Brazil">Brazil</option>
<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
<option value="Brunei Darussalam">Brunei Darussalam</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Cayman Islands">Cayman Islands</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Chad">Chad</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Christmas Island">Christmas Island</option>
<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Cook Islands">Cook Islands</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Cote D'Ivoire">Cote D'Ivoire</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Curacao">Curacao</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Falkland Islands">Falkland Islands</option>
<option value="Faroe Islands">Faroe Islands</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="French Guiana">French Guiana</option>
<option value="French Polynesia">French Polynesia</option>
<option value="French Southern Territories">French Southern Territories</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Gibraltar">Gibraltar</option>
<option value="Greece">Greece</option>
<option value="Greenland">Greenland</option>
<option value="Grenada">Grenada</option>
<option value="Guadeloupe">Guadeloupe</option>
<option value="Guam">Guam</option>
<option value="Guatemala">Guatemala</option>
<option value="Guernsey">Guernsey</option>
<option value="Guinea">Guinea</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Heard and Mc Donald Islands">Heard and Mc Donald Islands</option>
<option value="Honduras">Honduras</option>
<option value="Hong Kong">Hong Kong</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Isle of Man">Isle of Man</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jersey  (Channel Islands)">Jersey  (Channel Islands)</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Libya">Libya</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macau">Macau</option>
<option value="Macedonia">Macedonia</option>
<option value="Madagascar">Madagascar</option>
<option value="Malawi">Malawi</option>
<option value="Malaysia">Malaysia</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Martinique">Martinique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Mayotte">Mayotte</option>
<option value="Mexico">Mexico</option>
<option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
<option value="Moldova, Republic of">Moldova, Republic of</option>
<option value="Monaco">Monaco</option>
<option value="Mongolia">Mongolia</option>
<option value="Montenegro">Montenegro</option>
<option value="Montserrat">Montserrat</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Namibia">Namibia</option>
<option value="Nauru">Nauru</option>
<option value="Nepal">Nepal</option>
<option value="Netherlands">Netherlands</option>
<option value="Netherlands Antilles">Netherlands Antilles</option>
<option value="New Caledonia">New Caledonia</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Niue">Niue</option>
<option value="Norfolk Island">Norfolk Island</option>
<option value="North Korea">North Korea</option>
<option value="Northern Mariana Islands">Northern Mariana Islands</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Palau">Palau</option>
<option value="Palestine">Palestine</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Pitcairn">Pitcairn</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Republic of Kosovo">Republic of Kosovo</option>
<option value="Reunion">Reunion</option>
<option value="Romania">Romania</option>
<option value="Russia">Russia</option>
<option value="Rwanda">Rwanda</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
<option value="Saint Lucia">Saint Lucia</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
<option value="Samoa (Independent)">Samoa (Independent)</option>
<option value="San Marino">San Marino</option>
<option value="Sao Tome and Principe">Sao Tome and Principe</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Serbia">Serbia</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Sint Maarten">Sint Maarten</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
<option value="South Korea">South Korea</option>
<option value="South Sudan">South Sudan</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="St. Helena">St. Helena</option>
<option value="St. Pierre and Miquelon">St. Pierre and Miquelon</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Svalbard and Jan Mayen Islands">Svalbard and Jan Mayen Islands</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="Timor-Leste">Timor-Leste</option>
<option value="Togo">Togo</option>
<option value="Tokelau">Tokelau</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad and Tobago">Trinidad and Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Turks &amp; Caicos Islands">Turks &amp; Caicos Islands</option>
<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="Uruguay">Uruguay</option>
<option value="USA Minor Outlying Islands">USA Minor Outlying Islands</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Vatican City State (Holy See)">Vatican City State (Holy See)</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Virgin Islands (British)">Virgin Islands (British)</option>
<option value="Virgin Islands (U.S.)">Virgin Islands (U.S.)</option>
<option value="Wallis and Futuna Islands">Wallis and Futuna Islands</option>
<option value="Western Sahara">Western Sahara</option>
<option value="Yemen">Yemen</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>

	</select>
       </div>
  <input type="email" class="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="EMAIL" id="mce-EMAIL" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
    <input type="submit" class="btn button" name="subscribe" id="mc-embedded-subscribe" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2585707' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
</form>
<form action="{% comment %}ly_new_settings_replace_for_[ settings.newsletter_form_action ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign namespace = language | append: "as" %}{% if shop.metafields[namespace]["id2736202"] %}{% assign ly_translation = shop.metafields[namespace]["id2736202"] %}{% else %}{% assign ly_translation = settings.newsletter_form_action %}{% endif %}{{ ly_translation }}{% comment %}ly_new_settings_replace_end{% endcomment %}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="large--hide medium--hide input-group validate">
  <input type="email" class="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="EMAIL" id="mce-EMAIL" class="input-group-field" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
  <input type="submit" class="btn button" name="subscribe" id="mc-embedded-subscribe" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2585707' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
</form>
{% else %}
<div class="small--hide">
  {% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
  <p class="note form-success">{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.confirmation' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '2585708' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
  {% else %}

  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="contact[email]" id="Email" class="input-group-field" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
  <input type="hidden" name="contact[tags]" value="newsletter">
  <input type="submit" class="btn" name="subscribe" id="subscribe" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2585707' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
  {% endif %}
  {% endform %}
</div>  
<div class="large--hide medium--hide">
  {% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
  <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}{% capture ly_template %}{{ 'general.newsletter_form.confirmation' | t }}{% endcapture %}{% include 'ly-static-string' with '2585708' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}</p>
  {% else %}
  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" name="contact[email]" id="Email" class="input-group-field" aria-label="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.newsletter_email' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.newsletter_email' | t }}{% endcapture %}{% include 'ly-static-string' with '2585706' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}" autocorrect="off" autocapitalize="off">
  <input type="hidden" name="contact[tags]" value="newsletter">
  <input type="submit" class="btn" name="subscribe" id="subscribe" value="{% comment %}ly_i18n_replace_for_[ 'general.newsletter_form.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.newsletter_form.submit' | t }}{% endcapture %}{% include 'ly-static-string' with '2585707' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">

  {% endif %}
  {% endform %}
</div>
{% endif %}
{% endcomment %}
